/*
    Group Names:
        - Damen DeBerry (@basicDamen)
        - James Grady (@JaymeAlann)
        - Tyra Buadoo (@misstj555)
        - Ashlei Williams (@AshW-2018)
        - Mahad Farah (@mfarah-ksu)
        - Mandela Issa-Boube (@aliamaza)
        - Shivank Rao (@shivankrao)
    Project: Chess with AI Agent
    Class: CS4850 - Senior Project
 */
.button
{
    -fx-background-color: #3c3c3c;
    -fx-padding: 15;
    -fx-text-fill: #878a89;
}

.button:hover
{
    -fx-background-color: #292828;
    -fx-background-radius: 5 5 5 5;
    -fx-text-fill: #ffc629;
}

.roundBtn
{
    -fx-background-color: #3c3c3c;
    -fx-border-radius: 20;
    -fx-border-color: #ffc629;
}

.mainMenuPane
{
    -fx-background-color: #b0b3b2;
    -fx-background-radius: 20;
    -fx-border-insets: 0;
    -fx-border-radius: 8;
    -fx-border-width: 5;
    -fx-border-color: #ffc629;
}

.holderPane
{
    -fx-background-color: #231f20;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-border-width: 5;
    -fx-border-color: #ffc629;
}

.tab-pane .tab-header-area .tab-header-background
{
    -fx-opacity: 0;
}

.tab-pane
{
    -fx-tab-min-width:80px;
    -fx-tab-min-height: 50px;
}

.tab
{
    -fx-background-insets: 0 1 0 1,0,0;
}

.tab-pane .tab
{
    -fx-background-color: #231f20;
    -fx-font-family: "Montserrat SemiBold";
}

.tab-pane .tab:selected
{
    -fx-background-color: #3c3c3c;
}

.tab .tab-label
{
    -fx-alignment: CENTER;
    -fx-text-fill: #ffc629;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label
{
    -fx-alignment: CENTER;
    -fx-text-fill: #ffc629;
}